{{/* boolean feature tags */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $nxdi := false -}}{{/* true if this machine is a nxdi machine */}}
{{- $offline := false -}}{{/* true if this machine has no internet connection */}}
{{- $host_color := "none" -}}
{{- $dlp_proxy := "none" -}}


{{- if contains "nxdi" (lower .chezmoi.fqdnHostname) -}}
{{-     $work = true -}}
{{-     $nxdi = true -}}
{{- end -}}

{{- if contains "nxdi.kr-aws" (lower .chezmoi.fqdnHostname) -}}
{{-     $work = true -}}
{{-     $offline = true -}}
{{-     $host_color = "blue" -}}
{{-     $dlp_proxy = "dlp-proxy-ap-northeast-2.irm.nxp.com:8080" -}}
{{- end -}}

{{- if contains ".nxdi.us-aus" (lower .chezmoi.fqdnHostname) -}}
{{-     $work = true -}}
{{-     $offline = true -}}
{{-     $host_color = "yellow" -}}
{{- end -}}

{{- if contains "swis-sde.eu-west-1.aws" (lower .chezmoi.fqdnHostname) -}}
{{-     $work = true -}}
{{-     $offline = true -}}
{{-     $host_color = "green" -}}
{{-     $dlp_proxy = "dlp-proxy-eu-west-1.irm.nxp.com:8080" -}}
{{- end -}}

{{- if contains "nxl38689" (lower .chezmoi.fqdnHostname ) -}}
{{-     $work = true -}}
{{-     $host_color = "cyan" -}}
{{- end -}}


{{- if contains "ardning-pi3" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "green" -}}
{{- end -}}

{{- if contains "graz-pi3" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "blue" -}}
{{- end -}}

{{- if contains "atlanta" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "yellow" -}}
{{- end -}}

{{- if contains "graz-pi5" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "magenta" -}}
{{- end -}}

{{- if contains "vps-germany" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "red" -}}
{{- end -}}

{{- if contains "asrock" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "cyan" -}}
{{- end -}}

{{- if contains "la5410" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "cyan" -}}
{{- end -}}


[data]
    work = {{ $work }}
    nxdi = {{ $nxdi }}
    offline = {{ $offline }}
    host_color = "{{ $host_color }}"
    dlp_proxy = "{{ $dlp_proxy }}"

[edit]
    command = "nvim"
