{{/* boolean feature tags */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $nxdi := false -}}{{/* true if this machine is a nxdi machine */}}
{{- $offline := false -}}{{/* true if this machine has no internet connection */}}

{{/* more host specific information */}}
{{- $host_color := "none" -}}
{{- $dlp_proxy := "none" -}}

{{- $nvim_path := "" }}
{{- $nvim := false }}
{{- $nvim_version_major := 0 }}
{{- $nvim_version_minor := 0 }}
{{- $nvim_version_patch := 0 }}
{{- if stat (joinPath .chezmoi.homeDir "/.local/opt/nvim-v0.12.1/bin") -}}
{{-     $nvim_path = joinPath .chezmoi.homeDir "/.local/opt/nvim-v0.12.1/bin" -}}
{{-     $nvim = true }}
{{-     $nvim_version_major = 0 }}
{{-     $nvim_version_minor = 12 }}
{{-     $nvim_version_patch = 1 }}
{{- else if lookPath "nvim" }}
{{-     $nvim = true }}
{{-     $nvim_version_major = output "bash" "-c" "nvim --version 2>&1 | grep 'NVIM' | grep -o -e '[0-9]*' | head -n1" | trim | int }}
{{-     $nvim_version_minor = output "bash" "-c" "nvim --version 2>&1 | grep 'NVIM' | grep -o -e '[0-9]*' | head -n2 | tail -n1" | trim | int }}
{{-     $nvim_version_patch = output "bash" "-c" "nvim --version 2>&1 | grep 'NVIM' | grep -o -e '[0-9]*' | head -n3 | tail -n1" | trim | int }}
{{- end -}}

{{- $alacritty_path := "" }}
{{- $alacritty := false }}
{{- $alacritty_version_major := 0 }}
{{- $alacritty_version_minor := 0 }}
{{- $alacritty_version_patch := 0 }}
{{- if lookPath "alacritty" }}
{{-     $alacritty = true }}
{{-     $alacritty_version_major = output "bash" "-c" "alacritty --version | grep -o -e '[0-9]*' | head -n1" | trim | int }}
{{-     $alacritty_version_minor = output "bash" "-c" "alacritty --version | grep -o -e '[0-9]*' | head -n2 | tail -n1" | trim | int }}
{{-     $alacritty_version_patch = output "bash" "-c" "alacritty --version | grep -o -e '[0-9]*' | head -n3 | tail -n1" | trim | int }}
{{- end -}}

{{- if contains "nxdi" (lower .chezmoi.fqdnHostname) -}}
{{-     $work = true -}}
{{-     $nxdi = true -}}
{{- end -}}

{{- if contains "nxdi.kr-aws" (lower .chezmoi.fqdnHostname) -}}
{{-     $work = true -}}
{{-     $offline = true -}}
{{-     $host_color = "blue" -}}
{{-     $dlp_proxy = "dlp-proxy-ap-northeast-2.irm.nxp.com:8080" -}}
{{- end -}}

{{- if contains ".nxdi.us-aus" (lower .chezmoi.fqdnHostname) -}}
{{-     $work = true -}}
{{-     $offline = true -}}
{{-     $host_color = "yellow" -}}
{{- end -}}

{{- if contains "swis-sde.eu-west-1.aws" (lower .chezmoi.fqdnHostname) -}}
{{-     $work = true -}}
{{-     $offline = true -}}
{{-     $host_color = "green" -}}
{{-     $dlp_proxy = "dlp-proxy-eu-west-1.irm.nxp.com:8080" -}}
{{- end -}}

{{- if contains "nxl38689" (lower .chezmoi.fqdnHostname ) -}}
{{-     $work = true -}}
{{-     $host_color = "cyan" -}}
{{- end -}}


{{- if contains "ardning-pi3" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "green" -}}
{{- end -}}

{{- if contains "graz-pi3" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "blue" -}}
{{- end -}}

{{- if contains "atlanta" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "yellow" -}}
{{- end -}}

{{- if contains "graz-pi5" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "magenta" -}}
{{- end -}}

{{- if contains "vps-germany" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "red" -}}
{{- end -}}

{{- if contains "asrock" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "cyan" -}}
{{- end -}}

{{- if contains "la5410" (lower .chezmoi.fqdnHostname ) -}}
{{-     $host_color = "cyan" -}}
{{- end -}}


[data]
    work = {{ $work }}
    nxdi = {{ $nxdi }}
    offline = {{ $offline }}
    host_color = "{{ $host_color }}"
    dlp_proxy = "{{ $dlp_proxy }}"

    nvim_path = "{{ $nvim_path }}"
    nvim = {{ $nvim }}
    nvim_version_major = {{ $nvim_version_major }}
    nvim_version_minor = {{ $nvim_version_minor }}
    nvim_version_patch = {{ $nvim_version_patch }}

    alacritty_path = "{{ $alacritty_path }}"
    alacritty = {{ $alacritty }}
    alacritty_version_major = {{ $alacritty_version_major }}
    alacritty_version_minor = {{ $alacritty_version_minor }}
    alacritty_version_patch = {{ $alacritty_version_patch }}

[edit]
    command = "nvim"
