[core]
	eol = lf
	autocrlf = input
	editor = nvim -f
	fscache = true
[alias]
    co = checkout
    ci = commit
    cm = commit

    st = status --short
    stm = status --short --untracked-files=no

    logs = log --pretty=format:"%C(auto)%h%d\\ %s%Cblue\\ [%cn]" -n 20
    logsa = log --pretty=format:"%C(auto)%h%d\\ %s%Cblue\\ [%cn]"
    logl = log --pretty=format:"%C(auto)%h%d\\ %s%Cblue\\ [%cn]" --stat
    logg = log --pretty=format:"%C(auto)%h%d\\ %s%Cblue\\ [%cn]" --all --graph

    ls = ls-files
    lsm = ls-files -m
    lso = ls-files -o --exclude-standard
    lsu = diff --name-only --diff-filter=U --relative
    au = add -u

    la = "!git config -l | grep alias | cut -c 7-"
    f = "!git ls-files | grep -i"

    dt = difftool
    mt = mergetool

    su = submodule update --recursive
    sst = submodule status --recursive

    po = push -u origin HEAD

    df = !git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME

    unstage = restore --staged .
    delete-nontracking-branches = "! git branch --list --format \"%(if:equals=[gone])%(upstream:track)%(then)%(refname:short)%(end)\" | sed '/^$/d' | xargs git branch -D "
    sync = "!f() { git checkout --quiet --detach; git fetch origin $1:$1; git checkout --quiet -; }; f"

[difftool "gvim"]
    cmd = "gvim -f -d -O2 -c \"wincmd l\" \"$LOCAL\" \"$REMOTE\""


[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
        keepBackup = false

[diff]
	tool = nvimdiff

[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
{{ if lower .chezmoi.hostname | hasPrefix "nxl" }}
[user]
	name = Stefan Krug
	email = stefan.krug@nxp.com
{{ else }}
[user]
	name = stefan
	email = stefan
{{ end }} 
[init]
	defaultBranch = main

[filter "lfs"]
       smudge = git-lfs smudge -- %f
       process = git-lfs filter-process
       required = true
       clean = git-lfs clean -- %f

{{ if eq (lower .chezmoi.hostname) "nxl38689" }}
[url "ssh://git@bitbucket.sw.nxp.com/mcucore/bifrost.git"]
       insteadOf = https://github.com/nxp-zephyr/bifrost
[includeif "gitdir:C:/LocalData/data/sdk-next/"]
       path = C:/LocalData/data/sdk-next/bifrost/.gitconfig
{{ end }}

{{ if eq .chezmoi.os "linux" }}
[credential]
    helper = cache --timeout=57600
{{ else }}
[credential]
    helper = manager-core
{{ end }}
