{{- $ssh_supports_localnetwork := false }}
{{- if lookPath "ssh" }}
{{-     $ssh_version_major := output "bash" "-c" "ssh -V 2>&1 | grep -o -e '[0-9]*' | head -n1" | trim | int }}
{{-     $ssh_version_minor := output "bash" "-c" "ssh -V 2>&1 | grep -o -e '[0-9]*' | head -n2 | tail -n1" | trim |int }}
{{- /* ssh supports localnetwork statemet since version 9.3 */ -}}
{{-     $ssh_supports_localnetwork = or (gt $ssh_version_major 9) (and (eq $ssh_version_major 9) (gt $ssh_version_minor 2)) }}
{{- end -}}

Include config.d/*
AddKeysToAgent yes

# The f**ing A1 wlan box does not allow to forward port 22, so this is a
# workaround (using a different port).
Host backup.skobeloff.eu
    Port 32109
    ForwardAgent yes

Host ardning-pi3.skobeloff.eu
    Hostname ardning-pi3.skobeloff.eu
    Port 32109
    ForwardAgent yes

Host ar
    Hostname ardning-pi3.skobeloff.eu
    Port 32109
    ForwardAgent yes

Host ar-lo
    Hostname 10.0.0.99
    ForwardAgent yes

Host gr
    Hostname graz-pi3.skobeloff.eu
    ForwardAgent yes

Host gr-lo
    Hostname 10.84.1.41
    ForwardAgent yes

Host blinds
    Hostname 10.0.0.130
    ForwardAgent yes

Host *.skobeloff.eu
    ForwardAgent yes

Host zebu
    Hostname vsv0180001.nxdi.us-aus01.nxp.com
    ForwardAgent yes

{{ if $ssh_supports_localnetwork }}
# This does select the best route to a host. It checks for a
# particular network and checks whehter a port is opened at
# a particular address and if it is, it uses that as HostName.
# If we are in the LAN, use this.
Match host graz-pi5 localnetwork 10.84.1.0/24 exec "nc -w 1 -z 10.84.1.40 %p"
    HostName 10.84.1.40
# If we are in the graz VPN, we could use the VPN address to bypass potential
# restrictions of sshd on the public interface of the machine.
# Match host graz-pi5 localnetwork 10.101.0.0/16 exec "nc -w 1 -z 10.101.1.40 %p"
#     HostName 10.101.1.40
# If we are in the global VPN, use this. This can also be used to bypass
# rate limits, but is an additional indirection and not so quick - therefore disabled.
Match host graz-pi5 localnetwork 10.10.0.0/16 exec "nc -w 1 -z 10.10.2.40 %p"
    HostName 10.10.2.40
# Fallback to the public (internet) address.
# Also, all other directives (that were not set by any match above) are applied!
{{- end -}}
Host graz-pi5
    HostName graz.it-for-fun.eu
    ForwardAgent yes

{{ if $ssh_supports_localnetwork }}
Match host graz-pi3 localnetwork 10.84.1.0/24 exec "nc -w 1 -z 10.84.1.41 %p"
    HostName 10.84.1.41
    Port 22
# Match host graz-pi3 localnetwork 10.101.0.0/16 exec "nc -w 1 -z 10.101.1.41 %p"
#     HostName 10.101.1.41
#     Port 22
Match host graz-pi3 localnetwork 10.10.0.0/16 exec "nc -w 1 -z 10.10.1.41 %p"
    HostName 10.10.1.41
    Port 22
# Fallback to the public (internet) address. Note, it has to use a different
# port as multiple hosts are exposed via a single public ip address.
# Also, all other directives (that were not set by any match above) are applied!
{{- end -}}
Host graz-pi3
    HostName graz.it-for-fun.eu
    Port 2222
    ForwardAgent yes

# Prefer connection over vpn if available
Match host vps-germany localnetwork 10.10.0.0/16 exec "nc -w 1 -z 10.10.10.10 %p"
    HostName 10.10.10.10
Host vps-germany
    HostName www.it-for-fun.eu
    ForwardAgent yes
