if status is-interactive
    # Commands to run in interactive sessions can go here
{{- if lookPath "nvim" }}
    alias np='nvim -S .session.vim'
    alias ndiff='nvim -d'
{{- end }}
    alias feh='feh --theme default'
    alias thumbs='feh --theme thumbnails'
    alias ta='tmux attach -t0'
    alias dp='download_and_play.py'
{{- if lookPath "fdfind" }}
    alias fd='fdfind'
{{- end }}

{{ if eq .chezmoi.hostname "graz-pi3" "ardning-pi3" }}
    alias cm='snap run chezmoi'
    alias ce='snap run chezmoi edit --apply'
{{ else }}
    alias cm='chezmoi'
    alias ce='chezmoi edit --apply'
{{ end }}

    # Enable vi keybindings.
    set --global fish_key_bindings fish_vi_key_bindings

    if test -f ~/.config/fish/functions/fzf_configure_bindings.fish
        fzf_configure_bindings --git_status=\cgs --history=\cr --git_log=\cgl --variables=\v --processes=\cp --directory=\ec
    end

    # Use ctrl+l to complete one word of autosuggestion
    bind -M insert \cl 'forward-word'
end
